.auth-page {
  padding: 60px 80px;

  .sign-up_container,
  .sign-in_container {
    width: 50%;

    display: flex;
    flex-direction: column;
  }
  .auth-switch-span {
    cursor: pointer;

    text-align: center;
  }
}
